@font-face {
  font-family: MinionPro;
  src: url(/fonts/MinionPro-Regular.otf);
  font-weight: regular; }
@font-face {
  font-family: swiss;
  src: url(/fonts/swiss.ttf);
  font-weight: regular; }
@media screen and (max-width: 360px) {
  #designs {
    display: none; }

  body {
    background-color: #f5d6e0; }

  .container {
    width: 100%;
    height: relative; }

  #top {
    width: 100%; }
    #top .logo {
      background: url(../images/mobilelogo.png) no-repeat;
      width: 275px;
      height: 211px;
      text-align: center;
      margin-top: 15%; }
    #top .items {
      text-align: center;
      left: 50%; }
    #top #content {
      width: 100%; }
      #top #content p {
        margin-top: 35%;
        text-align: center;
        font-family: swiss;
        font-weight: bold-italic;
        max-width: 100%;
        color: #3B2466; }
    #top .button {
      position: relative;
      margin-top: 10%;
      margin-bottom: 10%; }
      #top .button a {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #3B2466;
        color: white;
        font-family: swiss;
        font-weight: regular;
        text-align: center;
        width: 80%;
        text-decoration: none;
        letter-spacing: 3px;
        position: absolute;
        left: 10%;
        top: 20%; }
      #top .button a:hover {
        background-color: #3d2270; }
      #top .button a:active {
        background-color: #EC7000; }
    #top #downarrow {
      width: 100%;
      margin-top: 35%; }
      #top #downarrow a {
        margin-left: 40%;
        margin-top: 5%; }
      #top #downarrow a:hover {
        background-color: none; }
      #top #downarrow a:active {
        background-color: #3B2466; }
    #top p {
      color: white;
      text-align: center;
      letter-spacing: 1px;
      margin-top: 10%; }

  #purchase {
    width: 100%; } }
#sponsors {
  width: 100%;
  margin-top: 5%; }
  #sponsors p {
    text-align: center;
    letter-spacing: 2px;
    font-family: swiss;
    margin-top: -13%; }
  #sponsors .rmch {
    background-color: #3b2466;
    margin-top: 25%;
    float: left;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%; }
    #sponsors .rmch img {
      margin-top: 5%;
      padding-left: 15%; }
    #sponsors .rmch a {
      font-family: swiss;
      font-weight: bold;
      letter-spacing: 2px;
      display: block;
      text-align: center;
      text-decoration: none;
      color: white;
      margin-top: 10%; }
  #sponsors .gfsmith {
    background-color: #f5d9e6;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%; }
    #sponsors .gfsmith img {
      margin-top: 15%;
      padding-left: 20%; }
    #sponsors .gfsmith a {
      font-family: swiss;
      font-weight: bold;
      letter-spacing: 2px;
      display: block;
      text-decoration: none;
      text-align: center;
      color: #3b2466;
      margin-top: 20%; }
  #sponsors .gh {
    background-color: #ec7000;
    float: left;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%; }
    #sponsors .gh img {
      padding-left: 25%;
      margin-top: 10%; }
    #sponsors .gh a {
      font-family: swiss;
      font-weight: bold;
      color: white;
      letter-spacing: 2px;
      display: block;
      text-decoration: none;
      text-align: center;
      margin-top: 20%; }
  #sponsors .cc {
    background-color: #3b2466;
    float: left;
    width: 100%;
    padding-bottom: 15%;
    padding-top: 15%; }
    #sponsors .cc img {
      padding-top: 15%;
      padding-left: 3%; }
    #sponsors .cc a {
      font-family: swiss;
      font-weight: bold;
      color: white;
      letter-spacing: 2px;
      display: block;
      text-decoration: none;
      padding-top: 10%;
      padding-left: 30%; }

#social {
  width: 100%;
  background-color: #7e5ba0; }
  #social p {
    font-family: swiss;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    color: white; }
  #social #fb {
    float: left;
    margin-top: 10%;
    width: 33%; }
  #social #twitter {
    float: left;
    margin-top: 10%;
    width: 33%; }
  #social #insta {
    float: left;
    margin-top: 10%;
    width: 33%; }
  #social #infop {
    margin-top: 5%; }

#footer {
  width: 100%;
  background-color: #f5d9e6; }
  #footer img {
    margin-top: 35%; }
  #footer p {
    text-align: center;
    font-family: swiss;
    letter-spacing: 2px;
    color: white; }

@media screen and (max-width: 400px) {
  #designs {
    display: none; }

  #top {
    width: 100%; }
    #top .logo {
      background: url(../images/logo.png) no-repeat;
      width: auto;
      height: auto; }
    #top #content {
      width: 100%; }
      #top #content p {
        margin-top: 10%;
        text-align: center;
        font-family: swiss;
        font-weight: bold-italic;
        max-width: 100%;
        color: #3B2466; }
    #top .button {
      position: relative;
      margin-top: 10%;
      margin-bottom: 10%; }
      #top .button a {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #3B2466;
        color: white;
        font-family: swiss;
        font-weight: regular;
        text-align: center;
        width: 80%;
        text-decoration: none;
        letter-spacing: 3px;
        position: absolute;
        left: 10%;
        top: 20%; }
      #top .button a:hover {
        background-color: #3d2270; }
      #top .button a:active {
        background-color: black; }
    #top #downarrow {
      width: 100%;
      margin-top: 45%; }
      #top #downarrow a {
        margin-left: 40%;
        margin-top: 25%; }
      #top #downarrow a:hover {
        background-color: none; }
      #top #downarrow a:active {
        background-color: #EC7000; }
    #top p {
      color: white;
      text-align: center;
      letter-spacing: 1px;
      margin-top: 10%; }

  #slider {
    width: 100%; } }
#sponsors {
  width: 100%; }
  #sponsors p {
    text-align: center;
    letter-spacing: 2px;
    font-family: swiss;
    margin-top: -13%; }
  #sponsors #rmch {
    margin-left: 15%;
    margin-top: 25%;
    float: left; }
    #sponsors #rmch a {
      text-align: center;
      text-decoration: none;
      color: white;
      font-family: swiss;
      letter-spacing: 3px;
      margin-top: 25%;
      margin-left: 20%; }
  #sponsors #gfsmith {
    margin-left: 20%;
    margin-top: 30%;
    float: right; }
    #sponsors #gfsmith a {
      text-align: center;
      text-decoration: none;
      color: white;
      font-family: swiss;
      letter-spacing: 3px;
      margin-top: 100%;
      margin-left: 15%; }
  #sponsors #gh {
    margin-left: 20%;
    margin-top: 35%;
    float: left; }
    #sponsors #gh a {
      margin-top: 10%; }
  #sponsors #cc {
    margin-left: 5%;
    margin-top: 65%;
    float: right; }

#social {
  width: 100%; }

#footer {
  width: 100%;
  text-align: center; }

@media screen and (min-width: 480px) {
  #slider {
    display: none; }

  body {
    background-color: #f5d9e6; }

  #top {
    background: url(../image/BACKGROUND-IMAGE-TOP.png);
    width: 100%; }
    #top .logo {
      background: url(../images/Logo-GIF.gif) no-repeat;
      width: 510px;
      height: 393px;
      position: relative;
      text-align: center;
      margin-top: 5%;
      left: 30%; }
    #top #content {
      width: 100%; }
      #top #content p {
        margin-top: 10%;
        text-align: center;
        font-family: swiss;
        font-weight: bold-italic;
        font-size: 20px;
        max-width: 100%;
        color: #3B2466; }
    #top .button {
      position: relative; }
      #top .button a {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #3B2466;
        color: white;
        font-family: swiss;
        font-weight: regular;
        text-align: center;
        width: 40%;
        text-decoration: none;
        letter-spacing: 3px;
        position: absolute;
        left: 30%;
        top: -20%; }
      #top .button a:hover {
        background-color: #3d2270; }
      #top .button a:active {
        background-color: #EC7000; }
    #top #downarrow {
      width: 100%; }
      #top #downarrow img {
        margin-top: 19%;
        margin-left: 8%; }
      #top #downarrow a {
        margin-left: 40%;
        margin-top: 25%; }
      #top #downarrow a:hover {
        background-color: none; }
      #top #downarrow a:active {
        background-color: #EC7000; }
    #top #intro {
      font-family: swiss;
      font-weight: bold;
      color: white;
      text-align: center; }
    #top #designs {
      width: 100%; }
      #top #designs .container {
        width: 100%;
        background-color: black; }
      #top #designs .image {
        max-width: 1920px;
        position: fixed, center; }

  .banner {
    background-color: #EC7000;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    position: static; }
    .banner p {
      font-family: swiss;
      font-weight: bold;
      color: #FDE755;
      text-align: center; }

  #sponsors {
    width: 100%; }
    #sponsors p {
      margin-top: 4%;
      text-align: center;
      color: white;
      letter-spacing: 2px;
      font-family: swiss;
      font-size: 32px; }
    #sponsors .container {
      width: 100%;
      background-color: #3b2466;
      height: auto; }
      #sponsors .container .rmch {
        width: 100%;
        background-color: black;
        float: left;
        overflow: hidden; }
    #sponsors .gfsmith {
      background-color: #f5d9e6; }
    #sponsors .gh {
      background-color: #ed6f01; }
    #sponsors .cc {
      background-color: #ed6f01; }

  #social width
  .socials {
    width: 100%;
    height: relative;
    background-color: #7e5ba0; }
  #social #fb {
    float: left;
    margin-top: 10%;
    position: inline-block;
    width: 33%; }
  #social #twitter {
    float: left;
    margin-top: 10%;
    width: 33%; }
  #social #insta {
    float: left;
    margin-top: 10%;
    width: 33%; }
  #social p {
    font-family: swiss;
    font-weight: bold;
    font-size: 24px;
    text-align: center; }

  #footer {
    background-color: #f5d9e6;
    width: 100%; } }
