@font-face {
    font-family: MinionPro;
    src: url(/fonts/MinionPro-Regular.otf);
    font-weight: regular;
}
@font-face {
    font-family: swiss;
    src: url(/fonts/swiss.ttf );
    font-weight: regular;
}
@media screen and (max-width: 360px) {
	#designs { display:none;}
    body {
    	background-color: #f5d6e0;
    	
    }
    .container {
    	width: 100%;
    	height: relative;
    }

 #top {
 	width: 100%;

.logo {
	background: url(../images/mobilelogo.png) no-repeat;
	width: 275px;
	height: 211px;
	text-align: center;
	margin-top: 15%;
	
}
.items {
	text-align:center;
	left:50%;
}

#content {
	width: 100%;

	 	p {
	 		margin-top: 35%;
	 		text-align: center;
	 		font-family: swiss;
	 		font-weight: bold-italic;
	 		max-width: 100%;
	 		color: #3B2466;
	 	}
}
.button {
	position: relative;
	margin-top: 10%;
	margin-bottom: 10%;	
	
	a {
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: #3B2466;
		color: white;
		font-family: swiss;
		font-weight: regular;
		text-align: center;
		width: 80%;
		text-decoration: none;
		letter-spacing: 3px;
		position: absolute;
		left: 10%;
		top: 20%;
	}

	a:hover {
		background-color: #3d2270;
	}
	a:active {
		background-color: #EC7000;
	}
}
#downarrow {
	width:100%;
	margin-top: 35%;

	a {
		margin-left: 40%;
		margin-top: 5%;

	}
	a:hover {
		background-color: none;
	}
	a:active {
		background-color: #3B2466;
	}


}
p {
	color: white;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 10%;
}
}
#purchase {
	width: 100%;

}
}
#sponsors {
	width:100%;
	margin-top: 5%;

		p {
			text-align: center;
			letter-spacing: 2px;
			font-family: swiss;
			margin-top: -13%;
		}
		.rmch {
			background-color: #3b2466;
			margin-top: 25%;
			float: left;
			width: 100%;
			padding-top: 15%;
			padding-bottom: 15%;

			img {
				margin-top: 5%;
				padding-left: 15%;
			}
		
		a {
			font-family: swiss;
			font-weight: bold;
			letter-spacing: 2px;
			display: block;
			text-align: center;
			text-decoration: none;
			color:white;
			margin-top: 10%;
		}
	}
		.gfsmith {
			background-color: #f5d9e6;
			width: 100%;
			padding-top: 15%;
			padding-bottom: 15%;
			
				img {
					margin-top: 15%;
					padding-left: 20%;
			}

		a {
			font-family: swiss;
			font-weight: bold;
			letter-spacing: 2px;
			display: block;
			text-decoration: none;
			text-align: center;
			color: #3b2466;
			margin-top: 20%;			
		}
	}
		.gh {
			background-color: #ec7000;
			float: left;
			width: 100%;
			padding-top: 15%;
			padding-bottom: 15%;

			img {
				padding-left: 25%;
				margin-top: 10%;
			}
			a{
				font-family: swiss;
				font-weight: bold;
				color: white;
				letter-spacing: 2px;
				display: block;
				text-decoration: none;
				text-align: center;
				margin-top: 20%;
			}	
		}
		.cc {
			background-color: #3b2466;
			float: left;
			width: 100%;
			padding-bottom: 15%;
			padding-top:15%;

			img {
				padding-top: 15%;
				padding-left: 3%;
			}
			a{
				font-family: swiss;
				font-weight: bold;
				color: white;
				letter-spacing: 2px;
				display: block;
				text-decoration: none;
				padding-top: 10%;
				padding-left: 30%;
			}
		}

}
#social {
	width: 100%;
	background-color: #7e5ba0;

	p{
		font-family: swiss;
		font-weight: bold;
		color: white;
		letter-spacing: 2px;
		text-align: center;
		color: white;

	}

	#fb {
		float: left;
		margin-top: 10%;
		width: 33%;
	}
	#twitter {
		float: left;
		margin-top: 10%;
		width: 33%;
	}
	#insta {
		float: left;
		margin-top: 10%;
		width: 33%;
	}
	#infop {
		margin-top: 5%;		
	}
}
#footer {
	width: 100%;
	background-color: #f5d9e6;
	
	img {
		margin-top: 35%;

	}
	p {
		text-align: center;
		font-family: swiss;
		letter-spacing: 2px;
		color: white;
	}
}
@media screen and (max-width:400px) {
	#designs {display:none;}
body {
	
}
#top {
 	width: 100%;

.logo {
	background: url(../images/logo.png) no-repeat;
	width:auto;
	height:auto;
	
}

#content {
	width: 100%;

	 	p {
	 		margin-top: 10%;
	 		text-align: center;
	 		font-family: swiss;
	 		font-weight: bold-italic;
	 		max-width: 100%;
	 		color: #3B2466;
	 	}
}
.button {
	position: relative;
	margin-top: 10%;
	margin-bottom: 10%;	
	
	a {
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: #3B2466;
		color: white;
		font-family: swiss;
		font-weight: regular;
		text-align: center;
		width: 80%;
		text-decoration: none;
		letter-spacing: 3px;
		position: absolute;
		left: 10%;
		top: 20%;
	}

	a:hover {
		background-color: #3d2270;
	}
	a:active {
		background-color: black;
	}
}
#downarrow {
	width:100%;
	margin-top: 45%;

	a {
		margin-left: 40%;
		margin-top: 25%;

	}
	a:hover {
		background-color: none;
	}
	a:active {
		background-color: #EC7000;
	}


}
p {
	color: white;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 10%;
}
}
#slider {
	width:100%;
}

}
#sponsors {
	width:100%;

		p {
			text-align: center;
			letter-spacing: 2px;
			font-family: swiss;
			margin-top: -13%;
		}
		#rmch {
			margin-left: 15%;
			margin-top: 25%;
			float: left;
		
		a {
			text-align: center;
			text-decoration: none;
			color: white;
			font-family: swiss;
			letter-spacing: 3px;
			margin-top:25%;
			margin-left: 20%;
		}
	}
		#gfsmith {
			margin-left:20%;
			margin-top: 30%;
			float: right;
		
		a {
			text-align: center;
			text-decoration: none;
			color: white;
			font-family: swiss;
			letter-spacing: 3px;
			margin-top:100%;
			margin-left: 15%;
		}
	}
		#gh {
			margin-left:20%;
			margin-top: 35%;
			float: left;

			a {
				margin-top: 10%;
			}
		}
		#cc {
			margin-left:5%;
			margin-top: 65%;
			float: right;
		}

}
#social {
	width: 100%;
	
}
#footer {
	width: 100%;
	text-align: center;	
}

@media screen and (min-width:480px){
	#slider { display: none; }
	body {
		background-color: #f5d9e6;
}
#top {
	background: url(../image/BACKGROUND-IMAGE-TOP.png);
 	width: 100%;

.logo {
	background: url(../images/Logo-GIF.gif) no-repeat;
	width: 510px;
	height: 393px;
	position: relative;
	text-align: center;
	margin-top: 5%;
	left: 30%;
}

#content {
	width: 100%;

	 	p {
	 		margin-top: 10%;
	 		text-align: center;
	 		font-family: swiss;
	 		font-weight: bold-italic;
	 		font-size: 20px;
	 		max-width: 100%;
	 		color: #3B2466;
	 	}
}
.button {
	position: relative;	
	
	a {
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: #3B2466;
		color: white;
		font-family: swiss;
		font-weight: regular;
		text-align: center;
		width: 40%;
		text-decoration: none;
		letter-spacing: 3px;
		position: absolute;
		left: 30%;
		top: -20%;
	}

	a:hover {
		background-color: #3d2270;
	}
	a:active {
		background-color: #EC7000;
	}
}
#downarrow {
	width:100%;
	img{
		margin-top: 19%;
		margin-left: 8%;
	}

	a {
		margin-left: 40%;
		margin-top: 25%;

	}
	a:hover {
		background-color: none;
	}
	a:active {
		background-color: #EC7000;
	}
}
#intro {
	font-family: swiss;
	font-weight: bold;
	color: white;
	text-align: center;
}
#designs {
	width: 100%;
	.container {
		width: 100%;
		background-color: black;
	}

	.image {
		max-width: 1920px;
		position: fixed, center;
	}
}
}
.banner {
	background-color: #EC7000;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	position: static;

		p {
			font-family: swiss;
			font-weight: bold;
			color:#FDE755;
			text-align: center;
		}
}
#sponsors {
width: 100%;

	p{
		margin-top: 4%;
		text-align: center;
		color: white;
		letter-spacing: 2px;
		font-family: swiss;
		font-size: 32px;
	}
.container {
	width: 100%;
	background-color: #3b2466;
	height: auto;

	.rmch {
		width: 100%;
		background-color: black;
		float: left;
		overflow: hidden;
	}
}
	.gfsmith {
		background-color: #f5d9e6;
	}
	.gh {
		background-color:#ed6f01;
	}
	.cc {
		background-color: #ed6f01;
	}
}
#social {
	width
	.socials {
		width: 100%;
		height: relative;
		background-color: #7e5ba0;
	}
	#fb {
		float: left;
		margin-top: 10%;
		position: inline-block;
		width: 33%;
	}
	#twitter {
		float: left;
		margin-top: 10%;
		width: 33%;
	}
	#insta {
		float: left;
		margin-top: 10%;
		width: 33%;
	}
	p {
		font-family: swiss;
		font-weight: bold;
		font-size: 24px;
		text-align: center;
	}
	
}
#footer {
	background-color: #f5d9e6;
	width: 100%;
}
}
